<div class="d-flex align-items-center justify-content-center">
  <div class="card m-3">
    <h5 class="card-header">Create Contact</h5>
    <div class="card-body">
      <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        <div class="d-flex align-items-center justify-content-center">
          <img [src]="imageSrc" *ngIf="imageSrc" height="100px" width="100px" style="border-radius: 50%;">
        </div>
        <div class="form-group col">
          <label for="file">Avatar</label>
          <input type="text" formControlName="avatar" class="form-control" type="file" (change)="onFileChange($event)"
            [ngClass]="{ 'is-invalid': submitted && contactForm.get('avatar')?.errors?.['required'] }"
            accept="image/*" />
          <div
            *ngIf="contactForm.controls['avatar'].invalid && (contactForm.controls['avatar'].dirty || contactForm.controls['avatar'].touched)"
            class="alert">
            <div *ngIf="contactForm.controls['avatar'].errors?.['required']" style="color: #dc3545;">
              Please add a avatar
            </div>
          </div>
        </div>
        <div class="form-group col">
          <label>First Name</label>
          <input type="text" formControlName="first_name" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && contactForm.get('first_name')?.errors?.['required'] }" />
          <div
            *ngIf="contactForm.controls['first_name'].invalid && (contactForm.controls['first_name'].dirty || contactForm.controls['first_name'].touched)"
            class="alert">
            <div *ngIf="contactForm.controls['first_name'].errors?.['required']" style="color: #dc3545;">
              First Name is required
            </div>
          </div>
        </div>
        <div class="form-group col">
          <label>Last Name</label>
          <input type="text" formControlName="last_name" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && contactForm.get('last_name')?.errors?.['required'] }" />
          <div
            *ngIf="contactForm.controls['last_name'].invalid && (contactForm.controls['last_name'].dirty || contactForm.controls['last_name'].touched)"
            class="alert">
            <div *ngIf="contactForm.controls['last_name'].errors?.['required']" style="color: #dc3545;">
              Last Name is required
            </div>
          </div>
        </div>
        <div class="form-group col">
          <label>Email</label>
          <input type="text" formControlName="email" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && contactForm.get('email')?.errors?.['required'] }" />
          <div
            *ngIf="contactForm.controls['email'].invalid && (contactForm.controls['email'].dirty || contactForm.controls['email'].touched)"
            class="alert">
            <div *ngIf="contactForm.controls['email'].errors?.['required']" style="color: #dc3545;">
              Email is required
            </div>
          </div>
          <div
            *ngIf="contactForm.controls['email'].invalid && (contactForm.controls['email'].dirty || contactForm.controls['email'].touched)"
            class="alert">
            <div *ngIf="contactForm.controls['email'].errors?.['email']" style="color: #dc3545;">
              Email should be in proper format
            </div>
          </div>
        </div>
        <div class="form-group col">
          <button class="btn btn-primary mr-1" type="submit" [disabled]="!contactForm.valid">Create</button>
          <button class="btn btn-secondary" [routerLink]="['']">Back</button>
        </div>
      </form>
    </div>
  </div>
</div>
